@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
    --primary: #d9d9d9d9;
    --primary-text: #ffffff;
    --accent-color: #003b68;
    --accent-text: #ffffff;
    --background: #f0f0f0;
    --text: #000000;
    --invert: 0;
}

.theme-dark {
    --primary: #121212;
    --primary-text: #ffffff;
    --accent-color: #003b68;
    --accent-text: #ffffff;
    --background: #383838;
    --text: #ffffff;
    --invert: 0.9;
}

.light-music {
    --invert: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: var(--background);
    color: var(--primary-text);
    margin: 0px;
    height: 100vh;
}

spacer {
    flex: 1;
}

i,
.icon {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.button {
    width: 100%;
    padding: 10px;
    border: none;
    color: var(--accent-text);
    background-color: var(--accent-color);
    box-shadow: 1px 1px 3px #00000055;
}

.button:hover {
    filter: brightness(1.15);
}

.button:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.button:disabled:hover {
    filter: brightness(1);
}

.calmButton {
    padding: 10px;
    border-radius: 6px;
    background-color: var(--primary);
    filter: brightness(1);
    cursor: pointer;
}

.calmButton:hover {
    filter: brightness(0.9);
}
