.page {
    padding: 10vw;
}

.center {
    width: max(80%, 800px);
    margin: auto;
    background-color: #00000011;
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--text);
}

.linkCont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.linkCont a {
    flex: 1 0 300px;
    padding: 10px;
    text-decoration: none;
    color: var(--button-text);
    text-align: center;
}
