.page {
    padding: 10vw;
    height: 100vh;
    background-image: url("/repeating-triangles.svg");
}

.center {
    width: min(80%, 800px);
    margin: auto;
    background-color: rgb(from var(--primary) r g b / 10%);
    backdrop-filter: blur(3px);
    padding: 30px 40px;
    border-radius: 10px;
    color: var(--text);
}

.linkCont {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.linkCont a {
    flex: 1 1 300px;
    padding: 10px;
    text-decoration: none;
    color: var(--accent-text);
    text-align: center;
}
