.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.header {
    width: 100vw;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #000000bb;
    color: white;
}

.sideNav {
    width: max(min(200px, 10vw), 80px);
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    bottom: 0;

    background-color: #00000088;
    color: white;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.folderList {
    overflow-x: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.folderList div {
    white-space: nowrap;
    min-width: 100%;
    width: fit-content;
    padding: 5px 2px;
}

.fullscreen {
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00000022;
    color: white;

    text-align: center;
    line-height: 40px;

    bottom: 20px;
    left: 20px;
}

.fullscreen:hover,
.folderList div:hover {
    background-color: #00000055;
}

.mainCont {
    background-color: aliceblue;
    width: calc(100vw - max(min(200px, 10vw), 80px));
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    bottom: 0;
}

.pdfCont {
    margin-top: 50px;
    scroll-margin-top: 50px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

.pdfPage canvas {
    width: calc(100vw - max(min(200px, 10vw), 80px)) !important;
    height: 100% !important;
    max-height: calc(100vh - 100px);
    object-fit: contain;
}

.pagerCont {
    width: calc(100vw - max(min(200px, 10vw), 80px));
    height: 50px;
    position: fixed;
    right: 0;
    top: 50px;
    background-color: #000000bb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: flex;
    gap: 20px;
}

.mainCont:fullscreen .pdfCont {
    width: 100vw !important;
    height: calc(100vh - 50px) !important;
    top: 50px;
}

.mainCont:fullscreen .pagerCont {
    width: 100vw;
    height: 50px;
    right: 0;
    top: 0;
}

.pagerCont>* {
    padding: 10px;
}

.pagerCont button {
    flex: 1;
}

.videoBox {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    object-fit: contain;
    transition: .5s all;
}

.videoBox:hover {
    filter: brightness(0.5) hue-rotate(315deg);
}

.isVisible {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}