.page {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    position: fixed;
    display: flex;
    flex-direction: column;
}

/* * * * * * * * * * * * * * * * * * *
 * HEADER 
 */

.header {
    line-height: 50px;
    padding: 0 10px;
    background-color: var(--primary);
    color: var(--text);
    box-shadow: 0px 0px 6px 1px #00000080;

    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    z-index: 2;
}
.header h1 {
    white-space: nowrap;
    padding: 0 20px;
}
.header button {
    flex: 1;
    font-size: inherit;
}
.header input {
    width: 60px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    padding: 5px 8px;
    padding-right: 0;
    height: 36px;
}

/* * * * * * * * * * * * * * * * * * *
 * MAIN CONTAINER
 */

.mainCont {
    /* width: calc(100vw - max(min(200px, 10vw), 80px)); */
    /* height: calc(100vh - 50px); */
    display: flex;
    flex: 1;
    min-height: 0;
    background-color: var(--background);
}
.pdfCont {
    flex: 1;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background);
}
.pdfPage canvas {
    height: 100% !important;
    object-fit: contain;
    margin: auto;
}
.pdfCont:fullscreen {
    position: fixed;
    width: 100vw !important;
    height: calc(100vh - 50px) !important;
    top: 50px;
}
.pdfCont .fullscreen {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    display: none;
}
.pdfCont:fullscreen .fullscreen {
    display: block;
}

/* * * * * * * * * * * * * * * * * * *
 * SIDE NAVIGATION
 */

.sideNav {
    border-right: 6px double var(--accent-color);
    background-color: var(--primary);
    color: var(--text);

    display: flex;
    flex-direction: column;
    overflow: hidden;

    padding: 3px;
    resize: horizontal;
}
.sideNav.open {
    width: 0;
    opacity: 0;
    padding: 0;
}
.sideNav button {
    margin-bottom: 5px;
}
.folderList {
    overflow-x: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.folderList > div {
    white-space: nowrap;
    /* width: 100%; */
}
.folderList .file {
    padding: 5px;
    cursor: pointer;
}

/* * * * * * * * * * * * * * * * * * *
 * INFORMATION BAR
 */

.infoBar {
    background-color: var(--primary);
    color: var(--text);
    box-shadow: 0 0 6px 1px #00000080;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 2px 10px;
    z-index: 1;
}
.infoBar .verticalSpacer {
    border-right: 1px solid var(--text);
    height: 100%;
}

.videoBox {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 70px;
    object-fit: contain;
    transition: 0.5s all;
    opacity: 0.5;
}
.videoBox:hover {
    opacity: 1;
}

.isVisible {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* * * * * * * * * * * * * * * * * * *
 * MODAL POPUP
 */

.modal {
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    width: min(500px, 90vw);
    border-radius: 5px;
    overflow: hidden;
}
.modalBackground {
    inset: 0;
    position: fixed;
    background-color: #000000aa;
    z-index: 3;
}
.modal .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--accent-text);
}
.modal .modalBody {
    padding: 10px;
    color: var(--text);
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.modal .formItem {
    display: flex;
    margin: 6px 0;
    gap: 5px;
    align-items: baseline;
    flex-wrap: wrap;
}
.modal .formItem label {
    width: 100%;
}
.modal .longList {
    overflow-y: auto;
    max-height: 200px;
}

.modal .checkbox {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.modal .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.modal span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-sizing: border-box;
}
.modal .checkbox input ~ span {
    border: 1px solid #11111155;
}
.modal .checkbox:hover input ~ span {
    background-color: #ccc;
}
.modal .checkbox input:checked ~ span {
    background-color: var(--accent-color);
    border: 1px solid transparent;
}
.modal span:after {
    content: "";
    position: absolute;
}
.modal .checkbox input:checked ~ span:after {
    display: block;
}
.modal .checkbox span:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid var(--background);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal .tabCont {
    display: flex;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    gap: 2px;
    background-color: #555;
    overflow: hidden;
}
.modal .tabCont button {
    flex: 1;
    padding: 5px;
    border: 0;
    background-color: #fff;
}
.modal .tabCont button:hover {
    background-color: #ddd;
}

.errorMessage {
    color: red;
}

.modal input[type="text"],
.sideNav input[type="text"],
.modal select,
.submitButton {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    width: 100%;
    flex: 1;
    border: 1px solid #555;
    border-radius: 5px;
}

/* width is less than 500px */
@media screen and (max-width: 500px) {
    .mainCont {
        width: 100vw;
    }

    .pdfPage canvas {
        width: 100% !important;
    }
}
