.page {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.header {
    width: 100vw;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    background-color: #000000bb;
    color: white;
}

.header a {
    text-decoration: none;
    color: inherit;
}

.sideNav {
    width: max(min(200px, 10vw), 80px);
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    bottom: 0;

    background-color: #00000088;
    color: white;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sideNav button {
    margin-bottom: 5px;
}

.folderList {
    overflow-x: auto;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.folderList div {
    white-space: nowrap;
    min-width: 100%;
    width: fit-content;
    padding: 5px 2px;
}

.fullscreen {
    position: fixed;
    transition: all 0.5s;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00000022;
    color: white;

    text-align: center;
    line-height: 40px;

    bottom: 20px;
    left: 20px;
}

.fullscreen:hover,
.folderList div:hover {
    background-color: #00000055;
}

.mainCont {
    background-color: aliceblue;
    width: calc(100vw - max(min(200px, 10vw), 80px));
    height: calc(100vh - 50px);
    position: fixed;
    right: 0;
    bottom: 0;
}

.pdfCont {
    margin-top: 50px;
    scroll-margin-top: 50px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}

.pdfPage canvas {
    width: calc(100vw - max(min(200px, 10vw), 80px)) !important;
    height: 100% !important;
    max-height: calc(100vh - 100px);
    object-fit: contain;
}

.pagerCont {
    width: calc(100vw - max(min(200px, 10vw), 80px));
    height: 50px;
    position: fixed;
    right: 0;
    top: 50px;
    background-color: #000000bb;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    display: flex;
    gap: 10px;
}

.mainCont:fullscreen .pdfCont {
    width: 100vw !important;
    height: calc(100vh - 50px) !important;
    top: 50px;
}

.mainCont:fullscreen .pagerCont {
    width: 100vw;
    height: 50px;
    right: 0;
    top: 0;
}

.pagerCont > * {
    padding: 10px;
}

.pagerCont button {
    flex: 1;
}

.pagerCont input {
    width: 60px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    padding: 5px 8px;
    padding-right: 0;
}

.videoBox {
    width: 100px;
    height: 100px;
    z-index: 1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    object-fit: contain;
    transition: 0.5s all;
}

.videoBox:hover {
    filter: brightness(0.5) hue-rotate(315deg);
}

.isVisible {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    min-height: 300px;
    min-width: 300px;
    border-radius: 5px;
    padding: 10px;
}

.modalBackground {
    inset: 0;
    position: fixed;
    background-color: #000000aa;
    z-index: 3;
}

.modal .modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.modal .formItem {
    display: flex;
    margin: 6px 0;
    gap: 5px;
    align-items: baseline;
}
.modal input[type="text"],
.sideNav input[type="text"],
.submitButton {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 8px;
    width: 100%;
    flex: 1;
    border: 1px solid #555;
    border-radius: 5px;
}

.modal .modalBody {
    padding: 10px;
}

.modal .checkbox {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.modal span {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal .checkbox input ~ span {
    border: 1px solid #11111155;
}

.modal .checkbox:hover input ~ span {
    background-color: #ccc;
}

.modal .checkbox input:checked ~ span {
    background-color: var(--button-color);
    border: 1px solid transparent;
}

.modal span:after {
    content: "";
    position: absolute;
}

.modal .checkbox input:checked ~ span:after {
    display: block;
}

.modal .checkbox span:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal .tabCont {
    display: flex;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #555;
    gap: 2px;
    background-color: #555;
    overflow: hidden;
}

.modal .tabCont button {
    flex: 1;
    padding: 5px;
    border: 0;
    background-color: #fff;
}

.errorMessage {
    color: red;
}

/* width is less than 500px */
@media screen and (max-width: 500px) {
    .sideNav {
        background-color: #000000dd;
        z-index: 1;
    }
    .mainCont {
        width: 100vw;
    }

    .pagerCont {
        width: 100vw;
    }

    .pagerCont input {
        width: 50px;
    }
    .pdfPage canvas {
        width: 100% !important;
    }
    .fullscreen {
        left: 100px;
        background-color: #00000044;
    }
    .mainCont:fullscreen .fullscreen {
        left: 20px;
        background-color: #00000022;
    }
}
